body {
  border: 5px solid orange;
  background-color: rebeccapurple;
}
html, body {
  margin: 0;
  padding: 0;
}

header, footer {
  background-color: rgb(180, 190, 100);
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  border: 2px solid black;
}

div.r {
  background-color: rgb(255, 0, 0);
  font-size: 2em;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  width: 200px;
  margin-bottom: 50px;
  margin-top: 20px;
}

div.g {
  background-color: rgb(0, 255, 0);
  font-size: 2em;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  width: 200px;
  margin-bottom: 50px;
  margin-top: 20px;
}

div.b {
  background-color: rgb(0, 0, 255);
  font-size: 2em;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  width: 200px;
  margin-bottom: 50px;
  margin-top: 20px;
}

div.rolagem {
  background-color: rgb(120, 140, 190);
  display: inline-block;
  border: 5px solid rgb(0, 255, 240);
  min-width: 200px;
  width: 50%;
  max-width: 350px;
  height: 100px;
  overflow-y: scroll;
  text-align: justify;
}

div.p1 {
  background-color: rgb(255, 0, 0);
  font-size: 2em;
  width: 200px;
  margin-bottom: 50px;
  margin-top: 20px;
  position: absolute;
  top: 105px;
  left: 300px;
}

div.p2 {
  background-color: rgb(0, 255, 0);
  font-size: 2em;
  width: 200px;
  margin-bottom: 50px;
  margin-top: 20px;
  position: absolute;
  bottom: 329px;
  left: 300px;
}

div.p3 {
  background-color: rgb(0, 0, 255);
  font-size: 2em;
  width: 200px;
  margin-bottom: 50px;
  margin-top: 20px;
  position: absolute;
  bottom: 241px;
  left: 300px;
}

div.container {
  position: absolute;
  left: calc(50vw - 130px);
  text-align: center;
  width: 260px;
  top: 150px;
}
div.card {
  border: 1px solid grey;
  box-shadow: 2px 2px 5px;
  width: 120px;
  display: inline-block;
  margin: 10px 5px;
}
div.card:hover {
  background-color: lightsalmon;
  transition: background-color 1s;
}
div.card p {
  font: 1em sans-serif;
  margin: 0;
  text-align: center;
}
div.card img {
  width: 100%;
}

span {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(255, 85, 75);
}

section {
  font-weight: bold;
  background-color: lightblue;
}
